{% extends 'etapasApp/index.html' %}
{% load static %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="//cdn.datatables.net/select/1.3.4/css/select.dataTables.min.css">
  <style>
    
    .frase{
      
      
      color: white; 
      
      font-size: 30px;

    }
    .abajo{
      position: absolute;
      top:70%;
      width: 100%;
    }
    .text-abajo{
      color:white;
      font-size: 20px;
    }

  </style>
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">

    <title>Thincrs</title>

    <!-- Bootstrap CSS CDN -->


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous"/>
    
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{% static 'etapasApp/css/style2.css' %}">
    <link rel="stylesheet" href="{% static 'etapasApp/css/stylesFacturacion.css' %}">




     <script>
        $( document ).ready(function() {
           $('.leftmenutrigger').on('click', function(e) {
           $('.side-nav').toggleClass("open");
           $(".ico-nav").toggle();
           e.preventDefault();
          });

          $("#session").click(function(){
            $(".session-item").toggle();
             $('#session').toggleClass("open-session");
          });
          $("#cursos").click(function(){
            $(".cursos-item").toggle();
             $('#cursos').toggleClass("open-cursos");
          });
          
      });


    </script>

</head>

<body>
        

          <!--contenido-->
            <div class="container-fluid">

                {% block content %}
                <!--breadcumb-->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Inicio</a></li>
        <li class="breadcrumb-item"><a href="#">Cursos</a></li>
        <li class="breadcrumb-item active" aria-current="page">Prueba de carga de trayectorias</li>
</nav>

<h1 class="text-center">Validación de carga de trayectorias de tipo evaluación</h1>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body card-form">
                <form method='POST' enctype="multipart/form-data" onsubmit="ShowLoading()">
                    {% csrf_token %}
                    <div class="row">
                       {{ form.as_p }}
                       <button type="submit" class="btn btn-master">Enviar</button>
                    </div>
                    {% if not valido %}
                    <h4>El archivo de cofig esta mal en formato.</h4>
                    {% endif %}
                    {% if not valido2 %}
                    <h4>El archivo de preguntas esta mal en formato.</h4>
                    {% endif %}

                    {% if lista_verificacion %}
                    <h4>Comparación con preguntas en el mismo archivo csv</h4>
                        {% for pregunta in lista_verificacion %}
                        
                            <p>Verificar la pregunta {{ pregunta.0 }} en renglón {{ pregunta.1 }} con renglón {{pregunta.2}}</p>
                        {% endfor %}
                    {% endif %}

                    {% if lista_verificacion_BD %}
                    <h4>Comparación con preguntas en la BD</h4>
                        {% for preguntaBD in lista_verificacion_BD %}
                            
                            <p>Verificar la pregunta {{ preguntaBD.0 }} en renglón {{ preguntaBD.1 }} con renglón {{preguntaBD.2}} <br> {{preguntaBD.3}} </p>
                        {% endfor %}
                    {% endif %}

                </form>
               
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function mostrarContrasena(){
      var tipo = document.getElementById("password");
        if(tipo.type == "password"){
        tipo.type = "text";
        }else{
        tipo.type = "password";
        }
    }

    function ShowLoading(e) {
        var div = document.createElement('div');
        var img = document.createElement('img');
        div.innerHTML = "Cargando...<br />";
        div.style.cssText = 'position: fixed; top: 40%; left: 50%; z-index: 5000; width: 10%; text-align: center; background: rgba(76, 175, 80, 0.01); border: 0px solid #000';
        div.appendChild(img);
        document.body.appendChild(div);
        return true;
        // These 2 lines cancel form submission, so only use if needed.
        //window.event.cancelBubble = true;
        //e.stopPropagation();
    }

</script>
                {% endblock content %}


            </div>


        </div>
        
        <div class="modal fade" id="edicion" role="dialog">
         
    
        </div>

<script type="text/javascript">
    function abrir_modal_edicion(url){
      
        $('#edicion').load(url, function (){
            $(this).modal('show');
        });
    };
    function abrir_modal_creacion(url){
        $('#creacion').load(url, function (){
            $(this).modal('show');
        });
    }
    

</script>

</body>

</html>
