{% load static %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="//cdn.datatables.net/select/1.3.4/css/select.dataTables.min.css">
  <style>
    
    .frase{
      
      
      color: white; 
      
      font-size: 30px;

    }
    .abajo{
      position: absolute;
      top:70%;
      width: 100%;
    }
    .text-abajo{
      color:white;
      font-size: 20px;
    }

  </style>
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">

    <title>Thincrs</title>

    <!-- Bootstrap CSS CDN -->


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous"/>
    
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{% static 'etapasApp/css/style2.css' %}">
    <link rel="stylesheet" href="{% static 'etapasApp/css/stylesFacturacion.css' %}">




     <script>
        $( document ).ready(function() {
           $('.leftmenutrigger').on('click', function(e) {
           $('.side-nav').toggleClass("open");
           $(".ico-nav").toggle();
           e.preventDefault();
          });

          $("#session").click(function(){
            $(".session-item").toggle();
             $('#session').toggleClass("open-session");
          });
          $("#cursos").click(function(){
            $(".cursos-item").toggle();
             $('#cursos').toggleClass("open-cursos");
          });
          
      });


    </script>

</head>

<body>
        <div id="wrapper" class="animate">
            <nav class="navbar header-top fixed-top navbar-expand-lg  navbar-dark bg-dark ">
              <span class="navbar-toggler-icon leftmenutrigger"></span>
              <a class="navbar-brand" href="#"><img src="{% static 'etapasApp/img/logo-thincrs.png' %}" class="img-fluid"></a>
              <span class="TextoEmp"> Thincrs </span>
              
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              

              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav animate side-nav">
                  <li class="nav-item " id="session">
                    <a class="nav-link"  href="#">
                       <img src="{% static 'etapasApp/img/Clientes.png' %}" class="img-fluid">
                      <span class="item-side"> Trayectorias</span>
                      <i class="fas fa-chevron-up"></i>
                      <i class="fas fa-chevron-down" ></i>

                    </a>
                  </li>
                
                      <li class="nav-item session-item" >
                        <a class="nav-link" href="{% url 'etapasApp:index' %}">
                             <img src="{% static 'etapasApp/img/Clientes.png' %}" class="img-fluid">
                          Lista de Trayectorias</a>
                      </li>             

                          

                

                </ul>


                <ul class="navbar-nav ml-md-auto d-md-flex">
                 <li class="nav-item">
                    <a class="nav-link"
                       href="#"
                       data-toggle="modal" data-target="#closeSesionModal">Etapas</a>
                  </li>


                </ul>
                </ul>
              </div>
            </nav>

          <!--contenido-->
            <div class="container-fluid">

                {% block content %}
                <body>
                  <h1 class="text-center">Trayectorias</h1>
                  <div class="row row-cols-1 row-cols-md-3">
                              {% for curso in cursos_guardados %}
                                <div class=" col-sm-12 col-md-6 col-xl-4">
                                    <div class="card card-lista-fotos">
                                            
                                      <div class="card-body">
                                        <h5 class="card-title text-center text-primary">{{curso.name}} </h5>
                                        <p class="card-text text-center lead nombre-card" >
                                            
                                        </p>
                                      </div>
                                        <div class="card-footer">
                                            <div class="row">

                                            <div class="col-6 col-sm-6 col-md-6">
                                                
                                            </div>
                                            <div class="col-6 col-sm-6 col-md-6">
                                                <a href="{% url 'etapasApp:trayectoria_id' curso.id %}" id='{{curso.id}}' class="text-center">
                                                    <p class="text-center">Entrar </p>
                                                </a>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                              </div>
                              {% endfor %}
                  </div>
                                
                                
                                
                                


                </body>

                {% endblock content %}


            </div>


        </div>
        
        <div class="modal fade" id="edicion" role="dialog">
          {% for pyn in path_step_y_number %}
            {{pyn}}
          {% endfor %}
    
        </div>

<script type="text/javascript">
    function abrir_modal_edicion(url){
        $('#edicion').load(url, function (){
            $(this).modal('show');
        });
    };
    function abrir_modal_creacion(url){
        $('#creacion').load(url, function (){
            $(this).modal('show');
        });
    }
    

</script>

</body>

</html>
