<div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">
		<div class="modal-header">
			<h2 class="modal-title">Edición de step {{ curso_1.id }} </h2>
			<button class="close" type="button" data-dismiss = "modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<form method="POST" action="{% url 'etapasApp:actualizar' curso_1.id object.id %}">
			{% csrf_token %}
			<div class="modal-body">
			{{ form.as_p}}
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger" type="button" data-dismiss = "modal">Cancelar</button>
				<button class="btn btn-primary" type="submit">Confirmar</button>
			</div>
		</form>
	</div>
</div>