{% extends 'etapasApp/index.html' %}
{% load static %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="//cdn.datatables.net/select/1.3.4/css/select.dataTables.min.css">
  <style>
    
    .frase{
      
      
      color: white; 
      
      font-size: 30px;

    }
    .abajo{
      position: absolute;
      top:70%;
      width: 100%;
    }
    .text-abajo{
      color:white;
      font-size: 20px;
    }

  </style>
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">

    <title>Thincrs</title>

    <!-- Bootstrap CSS CDN -->


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous"/>
    
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{% static 'etapasApp/css/style2.css' %}">
    <link rel="stylesheet" href="{% static 'etapasApp/css/stylesFacturacion.css' %}">




     <script>
        $( document ).ready(function() {
           $('.leftmenutrigger').on('click', function(e) {
           $('.side-nav').toggleClass("open");
           $(".ico-nav").toggle();
           e.preventDefault();
          });

          $("#session").click(function(){
            $(".session-item").toggle();
             $('#session').toggleClass("open-session");
          });
          $("#cursos").click(function(){
            $(".cursos-item").toggle();
             $('#cursos').toggleClass("open-cursos");
          });
          
      });


    </script>

</head>

<body>
        

          <!--contenido-->
            <div class="container-fluid">

                {% block content %}
                <body>
                  <div class="row">
                    <div class="col">
                      
                        <div class="card " style="min-height:90vh; background: no-repeat; background-size: cover; background-position: center;">
                            <div class="card-body bg">
                              
                                <!--<img src="#" class="img-fluid d-block mx-auto" style="width:230px">-->
                                <br>
                                Nombre de trayectoria: {{curso_1.name}}
                                
                                {% for path in paths %}
                               
                                  {% if path.course_id == curso_1.id %}
                                  <br>
                                  con path_id: {{path.id}}
                                  <br>
                                  {% for enterprise in enterprises %}
                                    {% if enterprise.id == path.enterprise_id %}
                                      De enterprise : {{enterprise.personal_name}}
                                    {% endif %}
                                  {% endfor %}
                                  <br>
                                  Código de path_step con etapa
                                  <br>
                                  <table style="width:100%">
                                    <thead>
                                      <tr>
                                        <th>ID evaluación o proyecto</th>
                                        <th> Evaluación o proyecto </th>
                                        <th> Competencias asociadas </th>
                                        <th> Numero del path_step</th>
                                        <th> Id del path_step </th>
                                        <th> Step Element order</th>
                                        <th> Actualizar </th>
                                      </tr>
                                      
                                        {% for path_step in path_steps %}

                                          {% if path_step.path.id == path.id %}
                                                      {{ path_step.id }}
                                                     {{ path_step.number}}
                                                     <br>
                                            
                                              {% for step_element in step_elements %}
                                                      
                                              
                                                {% if step_element.path_step.id ==  path_step.id %}
                                                  
                                                  {% for evaluation in evaluations %}

                                                    {% if evaluation.id == step_element.evaluation_id %}
                                                    <tr>
                                                    <td>{{evaluation.id}}</td>
                                                    <td>{{evaluation.name}}</td>
                                                    <td> 
                                                        {% for ec in evaluation_competences %}
                                                          {% if ec.evaluation_id == evaluation.id%}
                                                            {% for competence in competences %}
                                                              {% if competence.id == ec.competence_id%}
                                                                {{ competence.shortname }}
                                                              {% endif %}
                                                            {% endfor %}
                                                          {% endif %}

                                                        {% endfor %}

                                                    </td>
                                                    <td>{{ path_step.number }}</td>
                                                    <td>{{ path_step.id}}</td>
                                                    <td>{{ step_element.order}}</td>                                               
                                                    
                                                    <td class= "adjusted">
                                                        <div class="">
                                                            <a href="#" id='{{step_element.id}}'>
                                                                <button class="btn" onclick = "abrir_modal_edicion('{% url 'etapasApp:actualizar' curso_id=curso_1.id step_id=step_element.id %}')" style="background: transparent; color: green; font-size: 20px;"><i class="fas fa-pencil-alt"></i></button>
                                                            </a>
                                                        </div>
                                                    </td>
                                                    


                                                    {% endif %}

                                                  {% endfor %}
                                                  {% for course in courses %}

                                                    {% if course.id == step_element.course_id %}
                                                    <tr>
                                                    <td>{{course.id}}</td>
                                                    <td>{{course.name}}</td>
                                                    <td> 
                                                        {% for cc in course_competences %}
                                                          {% if cc.course_id == course.id%}
                                                            {% for competence in competences %}
                                                              {% if competence.id == cc.competence_id%}
                                                                {{ competence.shortname }}
                                                              {% endif %}
                                                            {% endfor %}
                                                          {% endif %}

                                                        {% endfor %}

                                                    </td>
                                                    <td>{{ path_step.number }}</td>
                                                    <td>{{ path_step.id}}</td>
                                                    <td>{{ step_element.order}}</td>
                                                    <td class= "adjusted">
                                                        <div class="">
                                                            <a href="#" id='{{step_element.id}}'>
                                                                <button class="btn" onclick = "abrir_modal_edicion('{% url 'etapasApp:actualizar' curso_id=curso_1.id step_id=step_element.id %}')" style="background: transparent; color: green; font-size: 20px;"><i class="fas fa-pencil-alt"></i></button>
                                                            </a>
                                                        </div>
                                                    </td>
                                                    
                                            

                                                    {% endif %}

                                                  {% endfor %}
                                                {% endif %}

                                              {% endfor %}

                                          {% endif %}
                                          
                                        {% endfor %}
                                      </tr>
                                    </thead>
                                  </table>
                                  {% endif %}
                                {% endfor %}
                                
                                
                                
                                <div class="row text-center">
                                  
                                  <div class="col-md-12" style="padding-top: 50%;">
                                    <p class="center frase" style="color: black ;">
                                      
                                       
                                      
                                    </p>
                                  </div>
                              </div>
                                <div class="row abajo">
                                  <div class="col-md-4">
                                  
                                  </div>
                                  
                                  <div class="col-md-4">
                                    
                                  </div>
                              </div>
                            </div>
                        </div>
                    </div>
                  </div>

                </body>

                {% endblock content %}


            </div>


        </div>
        
        <div class="modal fade" id="edicion" role="dialog">
         
    
        </div>

<script type="text/javascript">
    function abrir_modal_edicion(url){
      
        $('#edicion').load(url, function (){
            $(this).modal('show');
        });
    };
    function abrir_modal_creacion(url){
        $('#creacion').load(url, function (){
            $(this).modal('show');
        });
    }
    

</script>

</body>

</html>
